:root {
    /* Various fill colors */
    --primary-color: #6e9fc1;
    --secondary-color: #a3cae9;
    --container-background: #a3cae9;
    --unselected-tab-and-shadow: #6e9fc1;
    --tab-hover: #acacac;
    /* Shadow colors */
    --primary-shadow-color: #395a7f;
    --secondary-shadow-color: #e9ecee;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #395a7f;
    --secondary-text-color: #e9ecee;
    /* Category Color */
    --cat1-color: #dd3838;
    --cat2-color: #fa9f2f;
    --cat3-color: #ffee00;
    --cat4-color: #01b925;
    --cat5-color: #2969ff;
    --cat6-color: #b200c9;
    /*Help page*/
    --help-button: #395a7f;
    --help-button-text: #e9ecee;
    --help-button-hover: #6e9fc1;
    --help-button-text-hover: #395a7f;
    /* TaskPlanner page */
    --tp-checkbox-project: #00d26a;
    --tp-checkbox-nonproject: #785dc8;
}

/* .helpbutton.top:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
} */
