:root {
    /* Various fill colors */
    --primary-color: #0855b1;
    --secondary-color: #41a8f9;
    --container-background: #4fa5d8;
    --unselected-tab-and-shadow: #0855b1;
    --tab-hover: #daeaf7;
    /* Shadow colors */
    --primary-shadow-color: #010e54;
    --secondary-shadow-color: #010e54;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #daeaf7;
    --secondary-text-color: #daeaf7;
    /* Category Color */
    --cat1-color: #e60000;
    --cat2-color: #ff8e00;
    --cat3-color: #dacd18;
    --cat4-color: #00821b;
    --cat5-color: #004bff;
    --cat6-color: #780089;
    /*Help page*/
    --help-button: #0855b1;
    --help-button-text: #daeaf7;
    --help-button-hover: #4fa5d8;
    --help-button-text-hover: #0855b1;
    /* TaskPlanner page */
    --tp-checkbox-project: #00d26a;
    --tp-checkbox-nonproject: #785dc8;
}

.helpbutton.top:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
