:root {
    /* Various fill colors */
    --primary-color: rgb(219,220,255);
    --secondary-color:rgb(212,255,234);
    --container-background: rgb(183, 219, 252);
    --unselected-tab-and-shadow: rgb(215, 198, 251);
    --tab-hover: rgb(203, 179, 255);
    /* Shadow colors */
    --primary-shadow-color: rgba(138, 173, 228, 0.743);
    --secondary-shadow-color: rgba(138, 173, 228, 0.743);
    /* Fonts */
    --primary-font-family: 'Georgia';
    --secondary-font-family: 'Georgia';
    /* Text Color */
    --primary-text-color: rgb(33,91,142);
    --secondary-text-color: #9579db;
    /* Category Color */
    --cat1-color: #ff6663;
    --cat2-color: #feb144;
    --cat3-color: #fdfd97;
    --cat4-color: #9ee90e;
    --cat5-color: #9ec1cf;
    --cat6-color: #cc99c9;
    /*Help page*/
    --help-button: rgb(191, 166, 221);
    --help-button-text: white;
    --help-button-hover: rgb(131, 97, 168);
    --help-button-text-hover: white;
    /* TaskPlanner page */
    --tp-checkbox-project: #00d26a;
    --tp-checkbox-nonproject: #785dc8;
    /* Border colors */
    --primary-border: #9579db;
    --secondary-border: lightblue;
}

.tabbutton.active {
    color: rgb(33,91,142);
}

.helpbutton {
    box-shadow: 0px 0px 0.2rem 0.20rem var(--secondary-shadow-color);
}
.helpbutton:hover {
    background-color: rgba(136, 181, 255, 0.743);
}

.task {
    background-color: rgb(251, 242, 246);
}

.showhidebutton {
    color: white;
}


