/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: rgb(0, 43, 57);
    --secondary-color: #0d0d0d;
    --container-background: rgb(0, 8, 15);
    --unselected-tab-and-shadow: rgb(44, 44, 44);
    --tab-hover: rgb(0, 31, 31);
    /* Shadow colors */
    --primary-shadow-color: rgba(0, 89, 118, 0.743);
    --secondary-shadow-color: rgba(112, 201, 230, 0.743);
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(0, 89, 118);
    /* Category Color */
    --cat1-color: #dd3838;
    --cat2-color: #fa9f2f;
    --cat3-color: #ffee00;
    --cat4-color: #01b925;
    --cat5-color: #2969ff;
    --cat6-color: #b200c9;
    /*Help page*/
    --help-button: rgba(0, 43, 57, 0.743);
    --help-button-text: white;
    --help-button-hover: rgb(0, 0, 0);
    --help-button-text-hover: white;
    /* TaskPlanner page */
    --tp-checkbox-project: #00d26a;
    --tp-checkbox-nonproject: #785dc8;
}

.helpbutton.top:hover {
    background-color: var(--primary-color);
    color: white;
}

header .tabbutton.active {
    color: var(--primary-text-color);
}