:root {
    /* Various fill colors */
    --primary-color: #5e3e17;
    --secondary-color: #986931;
    --container-background: #b8884e;
    --unselected-tab-and-shadow: #b8884e;
    --tab-hover: #d6b575;
    /* Shadow colors */
    --primary-shadow-color: #36220b;
    --secondary-shadow-color: #5e3e17;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #36220b;
    --secondary-text-color: #d6b575;
    /* Category Color */
    --cat1-color: #e60000;
    --cat2-color: #ff8e00;
    --cat3-color: #dacd18;
    --cat4-color: #00821b;
    --cat5-color: #004bff;
    --cat6-color: #780089;
    /*Help page*/
    --help-button: #986931;
    --help-button-text: #d6b575;
    --help-button-hover: #d6b575;
    --help-button-text-hover: #36220b;
}

.helpbutton.top:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
