/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: gray;
    --secondary-color: lightgray;
    --container-background: darkgray;
    --unselected-tab-and-shadow: darkgray;
    --tab-hover: gray;
    /* Shadow colors */
    --primary-shadow-color: gray;
    --secondary-shadow-color: dimgray;
    /* Fonts */
    --primary-font-family: 'Times New Roman', Times, serif;
    --secondary-font-family: 'Times New Roman', Times, serif;
    /* Text Color */
    --primary-text-color: black;
    --secondary-text-color: black;
    /* Category Color */
    --cat1-color: #dd3838;
    --cat2-color: #fa9f2f;
    --cat3-color: #ffee00;
    --cat4-color: #01b925;
    --cat5-color: #2969ff;
    --cat6-color: #b200c9;
    /*Help page*/
    --help-button: rgb(82, 85, 85);
    --help-button-text: white;
    --help-button-hover: white;
    --help-button-text-hover: black;
    /* TaskPlanner page */
    --tp-checkbox-project: lightgray;
    --tp-checkbox-nonproject: dimgray;
}

.tpdate.hastask {
    background-color: lightgray;
}