/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: #fff099;
    --secondary-color: #ffffcc;
    --container-background: #ffffcc;
    --unselected-tab-and-shadow: #ffe880;
    --tab-hover: ffffcc;
    /* Shadow colors */
    --primary-shadow-color: #ffd94d;
    --secondary-shadow-color: #ffca1a;
    /* Fonts */
    --primary-font-family: 'Cantarell';
    --secondary-font-family: 'Helvetica';
    /* Text Color */
    --primary-text-color: #ffca1a;
    --secondary-text-color: #ffca1a;
    /* Category Color */
    --cat1-color: #e60000;
    --cat2-color: #ff8e00;
    --cat3-color: #dacd18;
    --cat4-color: #00821b;
    --cat5-color: #004bff;
    --cat6-color: #780089;
    /*Help page*/
    --help-button: #fff099;
    --help-button-text: #ffca1a;
    --help-button-hover: #ffe880;
    --help-button-text-hover: #ffca1a;
    /* TaskPlanner page */
    --tp-checkbox-project: #ffffcc;
    --tp-checkbox-nonproject: #ffd94d;
    /* Border colors */
    --primary-border: #ffca1a;
    --secondary-border: #ffca1a;
}

.helpbutton.top:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
