/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: #efcb13;
    --secondary-color: #e7da80;
    --container-background: #fef05f;
    --unselected-tab-and-shadow: #d3bd50;
    --tab-hover: e7da80;
    /* Shadow colors */
    --primary-shadow-color: #a79364;
    --secondary-shadow-color: #b08309;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #b08309;
    --secondary-text-color: #b08309;
    /* Category Color */
    --cat1-color: #e60000;
    --cat2-color: #ff8e00;
    --cat3-color: #dacd18;
    --cat4-color: #00821b;
    --cat5-color: #004bff;
    --cat6-color: #780089;
    /*Help page*/
    --help-button: #efcb13;
    --help-button-text: #b08309;
    --help-button-hover: #fef05f;
    --help-button-text-hover: #b08309;
}

.helpbutton.top:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
