/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: lightblue;
    --secondary-color: #f3f3f3;
    --container-background: aliceblue;
    --unselected-tab-and-shadow: lightgray;
    --tab-hover: lightcyan;
    /* Shadow colors */
    --primary-shadow-color: rgba(156, 209, 226, 0.801);
    --secondary-shadow-color: rgba(112, 201, 230, 0.743);
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: black;
    --secondary-text-color: black;
    /* Category Color */
    --cat1-color: #e60000;
    --cat2-color: #ff8e00;
    --cat3-color: #dacd18;
    --cat4-color: #00821b;
    --cat5-color: #004bff;
    --cat6-color: #780089;
    /*Help page*/
    --help-button: rgb(110, 165, 184);
    --help-button-text: black;
    --help-button-hover: rgb(82, 120, 141);
    --help-button-text-hover: black;
}