:root {
    /* Various fill colors */
    --primary-color: rgb(11, 60, 98);
    --secondary-color:rgb(255, 255, 255);
    --container-background: rgb(255, 128, 60);
    --unselected-tab-and-shadow: rgb(255, 128, 60);
    --tab-hover: rgb(241, 96, 18);
    /* Shadow colors */
    --primary-shadow-color: rgba(51, 58, 128, 0.484);
    --secondary-shadow-color: rgba(255, 130, 62, 0.5);
    /* Fonts */
    --primary-font-family: 'Georgia';
    --secondary-font-family: 'Arial';
    /* Text Color */
    --primary-text-color: rgb(33,91,142);
    --secondary-text-color: rgb(237, 139, 20);
    /* Category Color */
    --cat1-color: #dd3838;
    --cat2-color: #fa9f2f;
    --cat3-color: #ffee00;
    --cat4-color: #01b925;
    --cat5-color: #2969ff;
    --cat6-color: #b200c9;
    /*Help page*/
    --help-button: rgb(33,91,142);
    --help-button-text: rgb(255, 128, 60);
    --help-button-hover: rgb(255, 128, 60);
    --help-button-text-hover: rgb(11, 60, 98);
    /* TaskPlanner page */
    --tp-checkbox-project: #00d26a;
    --tp-checkbox-nonproject: #785dc8;
}

.tabbutton.active {
    color: #ffffff;
    box-shadow: 0px 0px 4px 1px rgb(14, 73, 119);
}

.tabbutton {
    color: #ffffff;
}

.helpbutton.top:hover {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}


