:root {
    /* Various fill colors */
    --primary-color: #8ba888;
    --secondary-color: #c0cfb2;
    --container-background: #f1ebe1;
    --unselected-tab-and-shadow: #c0cfb2;
    --tab-hover: #8ba888;
    /* Shadow colors */
    --primary-shadow-color: #44624a;
    --secondary-shadow-color: #8ba888;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #44624a;
    --secondary-text-color: #f1ebe1;
}