/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: #8ba888;
    --secondary-color: #c0cfb2;
    --container-background: #f1ebe1;
    --unselected-tab-and-shadow: #c0cfb2;
    --tab-hover: #8ba888;
    /* Shadow colors */
    --primary-shadow-color: #44624a;
    --secondary-shadow-color: #8ba888;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #44624a;
    --secondary-text-color: #f1ebe1;
    /* Category Color */
    --cat1-color: #dd3838;
    --cat2-color: #fa9f2f;
    --cat3-color: #ffee00;
    --cat4-color: #01b925;
    --cat5-color: #2969ff;
    --cat6-color: #b200c9;
    /*Help page*/
    --help-button: #8ba888;
    --help-button-text: #f1ebe1;
    --help-button-hover: #f1ebe1;
    --help-button-text-hover: #44624a;
}