/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: #fb6966;
    --secondary-color: #fbd1c7;
    --container-background: #fbd1c7;
    --unselected-tab-and-shadow: #fcb3ac;
    --tab-hover: #fb6966;
    /* Shadow colors */
    --primary-shadow-color: #e0653b;
    --secondary-shadow-color: #c1bb41;
    /* Fonts */
    --primary-font-family: 'Cantarell';
    --secondary-font-family: 'Helvetica';
    /* Text Color */
    --primary-text-color: #fb6966;
    --secondary-text-color: #319c39;
    /* Category Color */
    --cat1-color: #ff6663;
    --cat2-color: #feb144;
    --cat3-color: #fdfd97;
    --cat4-color: #9ee90e;
    --cat5-color: #9ec1cf;
    --cat6-color: #cc99c9;
    /*Help page*/
    --help-button: #fcb3ac;
    --help-button-text: 319c39;
    --help-button-hover: #fb6966;
    --help-button-text-hover: #319c39;
    /* TaskPlanner page */
    --tp-checkbox-project: #c1bb41;
    --tp-checkbox-nonproject: #319c39;
}

.tabbutton {
    color: #319c39;
}

.tabbutton.active {
    color: #c1bb41;
}

.settingsbutton {
    color: var(--secondary-text-color)
}


.caldate {
    color: var(--secondary-text-color);
}


.caldate.hastask {
    background-color: var(--unselected-tab-and-shadow);
}