/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: #fb6966;
    --secondary-color: #fbd1c7;
    --container-background: #fbd1c7;
    --unselected-tab-and-shadow: #fcb3ac;
    --tab-hover: #fb6966;
    /* Shadow colors */
    --primary-shadow-color: #e0653b;
    --secondary-shadow-color: #c1bb41;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #fb6966;
    --secondary-text-color: #319c39;
    /* Category Color */
    --cat1-color: #dd3838;
    --cat2-color: #fa9f2f;
    --cat3-color: #ffee00;
    --cat4-color: #01b925;
    --cat5-color: #2969ff;
    --cat6-color: #b200c9;
    /*Help page*/
    --help-button: rgb(110, 165, 184);
    --help-button-text: black;
    --help-button-hover: rgb(82, 120, 141);
    --help-button-text-hover: black;
}

.tabbutton {
    color: #319c39;
}

.tabbutton.active {
    color: #c1bb41;
}