/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: rgb(122, 0, 25);
    --secondary-color:rgb(255, 255, 255);
    --container-background: rgb(255, 204, 51);
    --unselected-tab-and-shadow: rgb(255, 204, 51);
    --tab-hover: rgb(240, 162, 6);
    /* Shadow colors */
    --primary-shadow-color: rgba(123, 42, 42, 0.484);
    --secondary-shadow-color: rgb(255, 204, 51, 0.5);
    /* Fonts */
    --primary-font-family: 'Raleway';
    --secondary-font-family: 'Raleway';
    /* Text Color */
    --primary-text-color: rgb(122, 0, 25);
    --secondary-text-color: rgb(237, 139, 20);
    /* Category Color */
    --cat1-color: #e60000;
    --cat2-color: #ff8e00;
    --cat3-color: #dacd18;
    --cat4-color: #00821b;
    --cat5-color: #004bff;
    --cat6-color: #780089;
    /*Help page*/
    --help-button: rgb(122, 0, 25);
    --help-button-text: rgb(255, 204, 51);
    --help-button-hover: rgb(255, 204, 51);
    --help-button-text-hover: rgb(122, 0, 25);
    /* TaskPlanner page */
    --tp-checkbox-project: #00d26a;
    --tp-checkbox-nonproject: #785dc8;
}

.tabbutton.active {
    color: #ffffff;
    box-shadow: 0px 0px 4px 1px rgb(119, 37, 14);
}

.tabbutton {
    color: rgb(122, 0, 25);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.helpbutton.top:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
