/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: rgb(21, 21, 21);
    --secondary-color: darkgray;
    --container-background: dimgray;
    --unselected-tab-and-shadow: gray;
    --tab-hover: dimgray;
    /* Shadow colors */
    --primary-shadow-color: rgba(255, 0, 0, 0.75);
    --secondary-shadow-color: maroon;
    /* Fonts */
    --primary-font-family: 'MedievalSharp';
    --secondary-font-family: 'Lobster Two';
    /* Text Color */
    --primary-text-color: maroon;
    --secondary-text-color: red;
    /* Category Color */
    --cat1-color: #e60000;
    --cat2-color: #ff8e00;
    --cat3-color: #dacd18;
    --cat4-color: #00821b;
    --cat5-color: #004bff;
    --cat6-color: #780089;
    /*Help page*/
    --help-button: rgb(44, 42, 42);
    --help-button-text: rgb(255, 255, 255);
    --help-button-hover: rgb(0, 0, 0);
    --help-button-text-hover: white;
}

header {
    background-color: maroon;
}
