/* UNDER NO CIRCUMSTANCES MAY THIS FILE NAME BE CHANGED */

.timerbutton:hover {
    background-color: var(--tab-hover);
    color: var(--secondary-text-color);
    cursor: pointer;
}

.timerbutton {
    all: revert;
    transition: 200ms ease-in-out;
}

.eisenaxis {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border: 0.5px var(--primary-border) solid;
    border-radius: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
.eisenquad {
    flex-grow: 1;
    background-color: var(--secondary-color);

    margin: 0.5rem;
    min-height: 13vmax;

    aspect-ratio: 3/2;

    font-size: small;

    padding: 1rem;

    border: 0.5px var(--primary-border) solid;
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;
}

.eisenquad h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.eisenquad h3 {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.eisenquad h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    color: var(--secondary-text-color);
}

.dopamenusec {
    flex-grow: 1;
    background-color: var(--secondary-color);

    margin: 0.5rem;
    min-height: 5vmax;
    width: 50%;

    padding: 1rem;

    border-radius: 0.5rem;

    transition: ease-in-out 200ms;
}

.dopamenusec:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.dopamenusec h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.dopamenusec h3 {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    color: var(--secondary-text-color);
}

.dopamenusec ul {
    margin-top: 0;
    margin-bottom: 0;
}