.helpcontainer {
    flex-grow: 1;
    background-color: var(--secondary-color);

    min-width: 33%;

    border: 1px var(--primary-border) solid;
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 1rem;

}

.helpbutton {
    all: revert;
    transition: 200ms ease-in-out;

    border: 1px var(--primary-border) solid;
}

.helpbutton.top {
    display: flex;
    background-color: var(--container-background);

    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: medium;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);

    border-radius: 0.5rem;
    
    transition: ease-in-out 200ms;
    
    padding: 0.75rem;
    margin-bottom: 0.5rem;
}

.helpbutton.top:hover {
    background-color: var(--tab-hover);
    color: var(--secondary-text-color);
    cursor: pointer;
    
    box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color);
}

.helplabel {
    display: inline;
}

.helpbutton.bottom {
    display: flex;
    background-color: var(--help-button);
    
    color: var(--help-button-text);
    
    font-family: var(--primary-font-family);
    font-size: medium;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
    
    border: 0;
    
    border-radius: 0.5rem;
    
    transition: ease-in-out 200ms;
    
    padding: 0.75rem;
    margin-bottom: 0.5rem;
}

.helpbutton.bottom:hover {
    background-color: var(--help-button-hover);
    color: var(--help-button-text-hover);
    cursor: pointer;
    
    box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color);
}

.helpcontent {
    display: none;
}

.helpcontent.visible {
    display: block;
}