.plannercontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.daycolumn {
    width: calc(13% - 2rem);
    background-color: var(--container-background);
    min-height: calc(96vh - 20rem);
    overflow-wrap: break-word;

    border: 0.5px var(--primary-border) solid;
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 1rem;
}

.daycolumn button.complete {
    min-width: 1rem;
    max-width: 1rem;
    min-height: 1rem;
    max-height: 1rem;
    border-radius: 0.125em;
}

.daycolumn .completed button.complete {
    background-color: var(--primary-color);
}

.daycolumn.today {
    box-shadow: 0px 0px 0.25rem 0.125rem var(--primary-shadow-color);
    color: var(--secondary-text-color);
}

.daycolumn h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.daycolumn h5 {
    text-align: center;
    margin-top: 0;
}

button.plannershift {
    all: revert;

    background: none;
    font-size: xx-large;

    color: var(--primary-text-color);

    border: none;

    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
}

button.plannershift:hover {
    text-shadow: 0 0 0.5rem var(--primary-shadow-color);
}

.caldaylabel {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0.75rem;
    font-style: bold;
    text-align: center;
    min-width: calc(14.28% - 2.7rem + 1px);
    max-width: calc(14.28% - 2.7rem + 1px);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#plannercalendar .caldate, #plannercalendar .calspacer {
    min-width: calc(14.28% - 2.7rem - 1px);
    max-width: calc(14.28% - 2.7rem - 1px);
    padding: 0.5rem;

    margin-bottom: 0.75rem;
}

.caldate:not(:hover) {
    background-color: var(--container-background);
    border: 0.5px solid var(--primary-border);
}

.caldate:hover {
    border: 1px solid var(--tab-hover);
    box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color);
}

#plannercalendar h2 {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.calweek {
    display: flex;
}

.calweek > button:hover ~ .caldate {
    background-color: var(--tab-hover);
    box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color);
}

.calweek .caldate:hover {
    background-color: var(--tab-hover);
}

.calweek > button {
    all: revert;
    transition: 200ms ease-in-out;

    background-color: var(--primary-color);
    border-radius: 0.25rem;
    border: none;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 1.25rem;
}

.calweek > button:hover {
    background-color: var(--tab-hover);
    box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color);
}

.caldate > p {
    width: 100%;
    text-align: center;
    margin: 0;
}

.calweek .caldate {
    text-align: center;
}

.caldate.today {
    box-shadow: 0px 0px 0.5rem 0.125rem var(--secondary-shadow-color);
    color: var(--secondary-text-color);
}