textarea {
    background-color: rgba(0, 0, 0, 0);
    border: var(--primary-text-color) dotted 1px;
    color: var(--primary-text-color);

    font-size: medium;
    font-family: var(--primary-font-family);
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
    border-radius: 5px;
}

.settingsbutton {
    all: revert;
    transition: 200ms ease-in-out;

    display: flex;
    background-color: var(--container-background);

    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: medium;
    text-align: center;
    vertical-align: middle;

    /* width: 30%; */
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);

    border: 0;

    /* box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color); */
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 0.75rem;
    margin: 0.25rem;
}

.settingsbutton:active {
    background-color: var(--primary-color);
}

.settingsslider {
    -webkit-appearance: none;
    appearance: none;
    /* width: 50%; */
    height: 10px;
    background: var(--unselected-tab-and-shadow);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 0.5rem 0.25rem var(--secondary-shadow-color); */
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.settingsslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    /* box-shadow: 0px 0px 0.5rem 0.25rem var(--primary-shadow-color); */
}

.checkinblock {
    flex-grow: 1;
    background-color: var(--secondary-color);

    /* min-width: 90%; */
    max-width: 100%;
    /* box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color); */
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 1rem;
}

.checkinblock p {
    margin-top: 0;
}