textarea {
    background-color: rgba(0, 0, 0, 0);
    border: var(--primary-text-color) dotted 1px;
    color: var(--primary-text-color);

    font-size: medium;
    font-family: var(--primary-font-family);
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
    border-radius: 5px;
}

.settingsbutton {
    all: revert;
    transition: 200ms ease-in-out;

    display: flex;
    background-color: var(--container-background);

    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: medium;
    text-align: center;
    vertical-align: middle;

    text-shadow: 0 0 0.25rem var(--primary-shadow-color);

    border: var(--primary-shadow-color) solid 0.5px;
    border-bottom: var(--primary-shadow-color) solid 2px;

    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 0.75rem;
    margin: 0.25rem;
}

.settingsbutton:active {
    background-color: var(--primary-color);
}

.checkinblock {
    flex-grow: 1;
    background-color: var(--secondary-color);

    max-width: 100%;
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 1rem;
}

.checkinblock p {
    margin-top: 0;
}