.tpcontainer {
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 60vh;

    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 1rem;
}

.subtasklist .task {
    font-size: small;
}

.calday {
    text-align: center;
    width: 15%;

    flex-flow: column;
    height: 100%;
    min-height: 40vh;
    
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

}

.caldate {
    z-index: 0;
    overflow-wrap: break-word;
    overflow: hidden;
    
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0.75rem;
    background-color: var(--primary-color);
    aspect-ratio: 1/1;

    border-radius: 0.5rem;
    color: var(--primary-text-color);
    padding: 0.5rem;

    transition: ease-in-out 200ms;
}

.caldate.today {
    color: var(--secondary-text-color);
}

.calspacer {
    z-index: 0;
    
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0.75rem;

    aspect-ratio: 1/1;
}

.caldate.hastask {
    z-index: 0;
    background-color: var(--tab-hover);
    border-radius: 0.5rem;
    color: var(--primary-text-color);

    transition: ease-in-out 200ms;

    padding: 0.5rem;
}

.caldate.othermonth {
    background-color: var(--secondary-shadow-color);
}

.tphoverelement {
    min-width: auto;
    min-height: auto;
    text-align: left;
    
    z-index: 10;
    background-color: var(--tab-hover);
    border-radius: 0.5rem;
    color: var(--primary-text-color);

    align-items: left;

    transition: ease-in-out 200ms;

    padding: 0.5rem;
}

.tphoverelement button.complete {
    min-width: 1rem;
    max-width: 1rem;
    min-height: 1rem;
    max-height: 1rem;
    border-radius: 0.125em;
}

.caldate.hastask:hover {
    z-index: 5;
}

#tprightside .caldate:hover {
    background-color: var(--container-background);
    border: 1px solid var(--primary-border);
    box-shadow: none;
}

.input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: black dotted 1px;
    color: var(--primary-text-color);

    font-size: medium;
    font-family: var(--primary-font-family);
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
    border-radius: 5px;
}

.tpselect {
    display: flex;

    border: 0;
    border-bottom: black dotted 1px;
    color: var(--primary-text-color);
    appearance: none;

    font-size: medium;
    font-family: var(--primary-font-family);
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.select:focus-within {
    background-color: var(--secondary-color);

    font-size: medium;
    font-family: var(--primary-font-family);
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
}

.tpcontainer h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.tpcontainer h3 {
    font-size: medium;
    margin-bottom: 0;
    font-style: italic;
    color: var(--secondary-text-color);
}

.tpcontainer h4 {
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    color: var(--secondary-text-color);
}

.tpcontainer ul {
    margin-top: 0;
    margin-bottom: 0;
}