.task {
    display: flex;
    background-color: var(--container-background);

    border: 0.5px solid var(--primary-border);
    border-bottom: 2px var(--primary-border) solid;
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 0.75rem;
    margin-bottom: 0.5rem;

    overflow-wrap: break-word;
}

.taskcontainer {
    transition: ease-in-out 200ms;
}

.task input {
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-text-color);

    font-size: medium;
    font-family: var(--primary-font-family);
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);

    width: calc(100% - 1ch);
}

.subtaskcontainer {
    padding-left: 1.35rem;
}

.overduewarning {
    display: inline;
}

.completed .overduewarning {
    display: none;
}

.task form {
    display: flex;
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    
    flex-grow: 1;
}

.task:hover {
    z-index: 10;
}

.deletetask {
    all: revert;

    width: 2rem;
    min-width: 2rem;
    max-width: 2rem;

    padding: 0;
}

.edittask {
    all: revert;

    display: none;
    width: 2rem;
    padding: 0;
}

.task:hover .edittask {
    display: block;
}

.task.completed:hover .edittask {
    display: none;
}

.completed div {
    text-decoration: line-through;
    color: var(--secondary-shadow-color);
}

p.completed {
    text-decoration: line-through;
    color: var(--secondary-shadow-color);
}

.task.completed button.complete {
    background-color: var(--primary-color);
}

button.complete {
    all: revert;
    transition: 200ms ease-in-out;

    cursor: pointer;
    transition: 200ms ease-in-out;

    background-color: rgba(0, 0, 0, 0);

    border-color: var(--primary-text-color);
    box-shadow: 0 0 0.125rem 0.125rem var(--primary-shadow-color);

    border-style: solid;

    border-radius: 1rem;
    min-width: 1.35rem;
    max-width: 1.35rem;
    min-height: 1.35rem;
    max-height: 1.35rem;

    margin-right: 0.5rem;
}

button.complete:hover {
    box-shadow: 0 0 0.25rem 0.25rem var(--primary-shadow-color);
}

.sortbutton {
    all: revert;
    transition: 200ms ease-in-out;

    display: flex;
    background-color: transparent;
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
    border-radius: 0.5rem;
    border: none;

    display: flex;
    padding: 0.25rem;
    margin-bottom: 0.5rem;

    min-width: 98%;
    transition: ease-in-out 200ms;

    color: var(--primary-text-color);
    font-size: smaller;
    overflow-wrap: break-word;
}

.sortbutton.active {
    background-color: var(--primary-color);
    font-style: bold;
}

.checkcontainer {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    text-shadow: none;

    font-family: "Times New Roman";

    margin: 0.125rem;
}

.checkcontainer:hover .taskcheckbox {
    box-shadow: 0 0 0.25rem 0.25rem var(--primary-shadow-color);
}

.checkcontainer .taskcheckbox.project {
    background-color: var(--tp-checkbox-project);
}

.checkcontainer input:checked~.taskcheckbox {
    color: white;
    text-shadow: 0 0 0.25rem var(--primary-shadow-color);
}

.checkcontainer .taskcheckbox.nonproject {
    background-color: var(--tp-checkbox-nonproject);
}

.taskcheckbox {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    min-width: 1rem;
    max-width: 1rem;
    min-height: 1rem;
    max-height: 1rem;

    border-radius: 0.125em;
    border-color: var(--primary-text-color);
    border-style: solid;
    border-width: 1.75px;

    box-shadow: 0 0 0.125rem 0.125rem var(--primary-shadow-color);
    transition: ease-in-out 200ms;
}

.taskcheckbox p {
    -webkit-margin-top-collapse: collapse;
    margin-top: -0.4ch;
}

.checkcontainer input {
    top: 0;
    left: 0;
    opacity: 0;
}

.tasklistcontainer {
    display: flex; 
    justify-content: space-between;
}

.tasklistnav {
    display: block;
    min-width: 20%;
    padding: 0.25rem;
}

.tasklistnav:not(.horizontal) {
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: -0.25rem;
}

.tasklistnav:not(.horizontal) > div {
    margin-bottom: 1rem;
    aspect-ratio: 1/0.5;
}

.tasklistnav.horizontal {
    display: flex; 
    margin-bottom: 1rem;
    flex-flow: row;
}

.tasklistnav.horizontal > div {
    flex-grow: 1; 
}

.container.tasklist {
    flex-grow: 1; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0;

}

.container.tasklist:not(.horizontal) {
    overflow-y: scroll;
    scrollbar-width: none;
}

.container.tasklist.horizontal {
    margin-left: 0px;
}

.tasklistbutton {
    all: revert;
    transition: 200ms ease-in-out;

    display: flex;
    background-color: transparent;
    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: medium;
    text-align: center;
    vertical-align: middle;

    text-shadow: 0 0 0.25rem var(--primary-shadow-color);

    border: 0;

    border-radius: 0.5rem;

    transition: ease-in-out 400ms;

    padding: 0.75rem;
    margin-bottom: 0.5rem;

}

.tasklistbutton:hover {
    display: flex;
    background-color: var(--primary-color);
    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: medium;
    text-align: center;
    vertical-align: middle;

    text-shadow: 0 0 0.25rem var(--primary-shadow-color);

    border: 0;

    border-radius: 0.5rem;

    transition: ease-in-out 400ms;

    padding: 0.75rem;
    margin-bottom: 0.5rem;

}

.listheader #listnamechange {
    display: none;
}

.listheader:hover #listnamechange {
    display: block;
}