:root {
    /* Various fill colors */
    --primary-color: rgb(0,34,23);
    --secondary-color: rgb(246,233,230);
    --container-background: rgb(246,233,230);
    --unselected-tab-and-shadow: rgb(246,233,230);
    --tab-hover: rgb(219, 201, 197);
    /* Shadow colors */
    --primary-shadow-color: rgba(40, 100, 60, 0.5);
    --secondary-shadow-color: rgba(208, 185, 157, 0.5);
    /* Fonts */
    --primary-font-family: 'Georgia';
    --secondary-font-family: 'Helvetica';
    /* Text Color */
    --primary-text-color: rgb(0,34,23);
    --secondary-text-color: rgb(246,233,230);
}

/* TO-DO FOR ME: EITHER FIX THESE OR JUST DELETE THE THEMES U MADE. */
/* too many overrides but the theme is ugly without, so prob just delete ?? */

.tabbutton.active {
    color: rgb(246,233,230);
    box-shadow: 0px 0px 4px 1px rgb(110, 19, 25);
}

.tabbutton {
    color:rgb(115, 0, 13);
}
.helpbutton {
    color: #ffffff;
    
}
.helpbutton:hover {
    background-color: rgb(0,34,23);
    color: #ffffff;
}

.tpcontainer {
    background-color: rgb(115, 0, 13);
    color: rgb(246,233,230);
}

.tpselect {
    background-color: rgb(246,233,230);
}

#deadlineinput {
    background-color: rgb(246,233,230);
}

.tpday {
    color: rgb(0,34,23);
}

header {
    background-color: rgb(115, 0, 13);
}

#subtasktitleinput {
    background-color: rgb(246,233,230);
}

.tpday {
    color: rgb(246,233,230);
}

