:root {
    /* Various fill colors */
    --primary-color: rgb(219,220,255);
    --secondary-color:rgb(212,255,234);
    --container-background: rgb(183, 219, 252);
    --unselected-tab-and-shadow: rgb(219,220,255);
    --tab-hover: #fff4d3;
    /* Shadow colors */
    --primary-shadow-color: rgba(138, 173, 228, 0.743);
    --secondary-shadow-color: rgba(138, 173, 228, 0.743);
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #FFFFFF;
}