:root {
    /* Various fill colors */
    --primary-color: gray;
    --secondary-color: lightgray;
    --container-background: darkgray;
    --unselected-tab-and-shadow: darkgray;
    --tab-hover: gray;
    /* Shadow colors */
    --primary-shadow-color: gray;
    --secondary-shadow-color: dimgray;
    /* Fonts */
    --primary-font-family: 'Times New Roman', Times, serif;
    --secondary-font-family: 'Times New Roman', Times, serif;
    /* Text Color */
    --primary-text-color: dimgray;
    --secondary-text-color: black;
}