:root {
    /* Various fill colors */
    --primary-color: #fb6966;
    --secondary-color: #fbd1c7;
    --container-background: #fbd1c7;
    --unselected-tab-and-shadow: #fcb3ac;
    --tab-hover: #fb6966;
    /* Shadow colors */
    --primary-shadow-color: #e0653b;
    --secondary-shadow-color: #fb6966;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: #e0653b;
    --secondary-text-color: #fb6966;
}

.tabbutton {
    color: #319c39;
}

.tabbutton.active {
    color: #c1bb41;
}