/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: rgb(21, 21, 21);
    --secondary-color: darkgray;
    --container-background: dimgray;
    --unselected-tab-and-shadow: gray;
    --tab-hover: dimgray;
    /* Shadow colors */
    --primary-shadow-color: rgba(255, 0, 0, 0.75);
    --secondary-shadow-color: red;
    /* Fonts */
    --primary-font-family: 'MedievalSharp';
    --secondary-font-family: 'Lobster Two';
    /* Text Color */
    --primary-text-color: maroon;
    --secondary-text-color: red;
}

header {
    background-color: maroon;
}
