/* The properties here can be overriden for easy theme creation. */
:root {
    /* Various fill colors */
    --primary-color: lightblue;
    --secondary-color: white;
    --container-background: aliceblue;
    --unselected-tab-and-shadow: lightgray;
    --tab-hover: lightcyan;
    /* Shadow colors */
    --primary-shadow-color: rgba(127, 127, 200, 0.75);
    --secondary-shadow-color: blue;
    /* Fonts */
    --primary-font-family: 'system-ui';
    --secondary-font-family: 'system-ui';
    /* Text Color */
    --primary-text-color: black;
    --secondary-text-color: black;
}

button:hover {
    cursor: pointer;
}

button {
    transition: ease-in-out 200ms;
}

html {
    font-family: var(--primary-font-family);
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;

    overscroll-behavior: none;
}

body {
    margin: 0;
    color: var(--primary-text-color);
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 1000;
}

header button {
    font-family: var(--primary-font-family);
    background-color: var(--unselected-tab-and-shadow);
    min-height: 1.75rem;
    border: 0;
    margin-top: 1rem;
    padding-left: 1ch;
    padding-right: 1ch;
    margin-right: 0.5ch;
    margin-left: 0.5ch;
    min-width: fit-content;
}

.tabbutton:hover {
    background-color: var(--tab-hover);
}

.tabbutton.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.flexspacer {
    flex-grow: 1;
}

.tabcontainer {
    display: flex;
    break-after: always;
}

.tab {
    display: none;
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    word-break: break-all;

    width: calc(100% - 4rem);
    height: calc(100% - 3rem);
}

.tab.visible {
    display: block;
}