.tpcontainer {
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column;
    height: 100%;


    box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color);
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 1rem;

}

.tpday {
    justify-content: center;
    width: calc(13% - 2rem);
    background-color: var(--secondary-color);
    /* min-height: 10vmax; */    
    

    box-shadow: 0px 0px 0.5rem 0.125rem var(--primary-shadow-color);
    border-radius: 0.5rem;

    transition: ease-in-out 200ms;

    padding: 1rem;
}